.vcard img {
        background: none repeat scroll 0 0 #EEEEEE;
        border: 1px solid #CCCCCC;
        float: left;
        margin: 0.2em 1em 0 0;
        padding: 0.3em;
	width: 65px;
}

.vcard ul { float: left; }

.licence { clear: left; }

.the-footer .unit-inner h1,
  .the-footer .unit-inner h2,
  .the-footer .unit-inner h3,
  .the-footer .unit-inner h4,
  .the-footer .unit-inner h5,
  .the-footer .unit-inner p,
  .the-footer .unit-inner ul,
  .the-footer .unit-inner ol,
  .the-footer .unit-inner dl,
  .the-footer .unit-inner blockquote {
    margin-left: 0px !important;
  }
