.vcard img {
        background: none repeat scroll 0 0 #EEEEEE;
        border: 1px solid #CCCCCC;
        float: left;
        margin: 0.2em 1em 0 0;
        padding: 0.3em;
	width: 65px;
}

.vcard ul { float: left; }

.licence { clear: left; }

